:root {
    --cor-fundo: #0C1821;
    --cor-cards: #000000;
    --cor-texto: #3F5378;
    --cor-destaque: #CCC9DC;
}

body {
    background-color: var(--cor-fundo);
}

.container img {
    width: 400px;
    height: 600px;
    margin-right: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    gap: 20px;
    flex-direction:column;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    display: flex;
    background-color: var(--cor-cards);
}

.card-content {
    flex-grow: 1;
}

.card-title {
    color: var(--cor-destaque);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Saira', sans-serif;
}

.card-overview {
    color: var(--cor-texto);
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Saira', sans-serif;
}

input[type="text"] {
  /* Box sizing and dimensions */
  box-sizing: border-box; 
  width: 100%;
  max-width: 200px;
  padding: 8px 12px;
  margin: 8px 0;

  /* Typography */
  font-family: inherit;
  font-size: 1rem; /* Prevents auto-zoom on iOS devices */
  color: var(--cor-texto);

  /* Borders and backgrounds */
  background-color: transparent;
  border: 2px solid var(--cor-cards);
  border-radius: 6px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

button {
  background-color: transparent;
  border: 2px;
  padding: 10px 8px;
  cursor: pointer;
  border-radius: 10px;
}

form {
    display: flex;
    align-items: center;
}

.hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    display: flex;
    background-image: url('../static/cinema-seats.jpg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.hero-content {
    color: var(--cor-destaque);
    font-family: 'Saira', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.hero-content form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-tagline {
    color: var(--cor-texto);
    font-family: 'Saira', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero-title {
    color: var(--cor-destaque);
    font-family: 'Saira', sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-description {
    color: var(--cor-texto);
    font-family: 'Saira', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 30px;
}